<section>
    <section class="section-padding" id="smsPage">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Eviar SMS</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-collapse text-center">
                                <p> Enviar sms</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>