<div>
        <label><h2>Telefones</h2></label>
        <p>Pressione SPACE ao terminar de digitar o número!</p>
        
        <mat-form-field>
                <mat-chip-list #chipList class="chip-list">
                    <mat-chip *ngFor="let phone of phones" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(phone)">
                                    {{phone.phone}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                        
                <input matInput placeholder="Telefone (Ex.: +5583998765432)"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">                
                </mat-chip-list>
        </mat-form-field>

        <div class="form-group">
            <textarea type="text" class="form-control"
             placeholder="Digita aqui sua mensagem!"></textarea>
        </div>

</div>
