<!--The content below is only a placeholder and can be replaced.-->
<header>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    
    <div id="header">
    <div class="brand">
      <a href="#homeTab" 
      pageScroll [pageScrollOffset]="myScrollOffset" [pageScrollEasing]="myEasing"
      class="name">smsXpress
    </a>

    </div>
    <ul class="menu">
      <li><a href="#sobreTab" 
        pageScroll [pageScrollOffset]="myScrollOffset" [pageScrollEasing]="myEasing">Sobre</a></li>

      <li><a href="#smsTab"
        pageScroll [pageScrollOffset]="myScrollOffset" [pageScrollEasing]="myEasing">Enviar SMS</a></li>

      <li><a href="#">Consultar protocolo</a></li>
    </ul>
  </div>

</header>

<body>
    <div id="content">
        <div id="homeTab">
            <app-home [myEasing]="myEasing"
                     [myScrollOffset]="myScrollOffset"></app-home>
          </div>
          
          <div id="sobreTab">
            <app-sobre></app-sobre>
          </div>
          
          
          <div id="smsTab">
            <app-sms></app-sms>
          </div>
    </div>

</body>



<!-- <body>
    
  <router-outlet></router-outlet>

</body> -->
