<!-- <div id="sobrePage">
        <div>
            <h2> Sobre </h2>
        </div>
            <div>
                <div>

                        <div class="text-center">
                                <p> O smsXpress veio para auxiliar o envio de SMS para vários números
                                  ao mesmo tempo.</p>

                                <p> Para usar basta ir na sessão "Enviar SMS", digitar os números
                                    de telefone e abaixo a mensagem que você deseja enviar.</p>
                                
                                <p> O custo dessas mensagens se organizam da seguinte maneira: 
                                    Cada telefone inserido custa apenas R$0,10. E a cada 10 caracteres de mensagem, 
                                     um adicional de R$0,05 é cobrado.    
                        </div>
                   
                            
                </div>
            </div>
        
</div> -->

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <title>Cuda theme</title>
    </head>
    <body>
        <div class="service">
            <div class="main-service">
                <div class="text-service">
                    <h3>Sobre o smsXpress</h3>
                    <div class="line"></div>
                    <p>O smsXpress veio para auxiliar o envio de SMS para vários números
                            ao mesmo tempo.
                    </p>
                    <p> Para usar basta ir na sessão "Enviar SMS", digitar os números
                            de telefone e abaixo a mensagem que você deseja enviar. 
                    </p>
                        
                    <p> O custo dessas mensagens se organizam da seguinte maneira: 
                        Cada telefone inserido custa apenas R$0,10. E a cada 10 caracteres de mensagem, 
                            um adicional de R$0,05 é cobrado. 
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>

